
{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    body
    {
        display: flex;
        justify-content: center;
    }
    .wrap
    {
        display: flex;
        justify-content: center;
        border-top-width: 50px;
        width:1000px;
    }
    </style>
    <title>Document</title>
</head>

<body>
<div class="wrap">
{% block content %}

    <br>
     <div class="col-md-12">
         <div class="blog-entry ftco-animate d-md-flex">
             <br>
             <!--kiểm tra hình -->
             <div><a><img src="/media/{{ post.img.url }}" width="250px" height="250px"></a></div>
             <div class="text text-2 pl-md-4">
				 <h3 class="nav-link"><a href="/home/{{ post.id }}">{{ post.tieude }}</a></h3>
                 <div class="meta-wrap"><p class="meta">
                 <span><i class="icon-calendar mr-2"></i>June 28, 2019</span>
                 <span><a href="#"><i class="icon-folder-o mr-2"></i>{{ post.first_name }}</a></span>
                 <span>${{ post.price }}</span>
			     </div>
				  <p class="mb-4">{{ dest.desc }}</p>
				  <p><a href="/" class="btn-custom">COMEBACK <span class="ion-ios-arrow-forward"></span></a></p>
			</div>
		</div>
	</div>
{% endblock %}
</div>
</body>
</html>